{{ define "meta" }}
{{ $headerData := $.Site.Data.partials.Pages.Main }}
<meta name="description" content="{{ $headerData.Description }}">
<meta name="keywords" content="{{ $headerData.Keywords }}">
<meta property="og:title" content="{{ .Site.Title }}" />
<meta property="og:description" content="{{ $headerData.Description }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ "assets/cfs/logo-white.svg" | absURL }}" />
{{ end }}

{{ define "main" }}
  {{ .Content }}
{{ end }}
