<footer class="bg-light">
    <div class="container-fluid border-top border-dark border-5 pt-5 pb-5 bg-primary">
        <div class="row d-flex mt-4 mx-auto" style="max-width: 1200px;">
            <div class="col-12 col-md-12 d-flex flex-column col-md-5 order-1 order-md-0">
                {{ partial "cfs-logo.html" . }}
                <p class="mt-4 " style="font-size: 0.9em;">Die Initiative Code for Students beschäftigt sich mit den
                    zukünftigen IT Talenten und möchte diese unkompliziert und effizient fördern.</p>
            </div>
            <div class="d-none d-md-flex col-md-1 oder-1"></div>
            <div class="col-12 mt-5 text-center order-1">
                <p class="pt-3 " style="font-size: 0.8em;">
                    &copy; {{ now.Format "2006" }} Code for Students</p>
            </div>
        </div>
    </div>
</footer>
