{{ define "main"}}
<main id="main" class="pt-5">
    <div class="text-center my-5">
        <h1 class="my-4"><a href="{{ "/" | relURL }}">404: Seite nicht gefunden</a></h1>
        <div class="justify-content-center">
            <img src="/assets/tree.svg"
                 width="50%"
                 class="mb-5"
                 alt="forest8"></div>
        <p>Die angefragte Seite wurde nicht gefunden - bei forest8 hingegen findest du schützenswerte Wälder.</p>
    </div>
    </div>
</main>
{{ end }}
